h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Montserrat' !important;
  line-height: 20px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px !important;
}
html {
  box-sizing: border-box;
}
div {
  clearfix: both;
}
* {
  box-sizing: border-box;
}
.sidebar-nav {
  max-width: 450px;
  color: white;
  padding: 10px;
}
@media screen and (max-width: 1099px) {
  .sidebar-nav {
    max-width: 2000px !important;
    width: 100% !important;
    position: absolute;
    z-index: 100;
    padding: 0 !important;
  }
}
.sidebar-nav .side-nav {
  padding: 10px;
  background: #5077fb;
  width: 100%;
}
.sidebar-nav .side-nav hr {
  width: 100%;
  margin: 10px 0;
  opacity: 0.4;
}
@media screen and (max-width: 1099px) {
  .sidebar-nav .side-nav hr {
    display: none;
  }
}
.sidebar-nav .side-nav .logo {
  overflow: auto;
  text-align: center;
  padding: 5px 0;
}
.sidebar-nav .side-nav .logo .logo-portrait {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (max-width: 1099px) {
  .sidebar-nav .side-nav .logo .logo-portrait {
    float: left;
    max-width: 60px;
  }
}
@media screen and (max-width: 1099px) {
  .sidebar-nav .side-nav .logo h2,
  .sidebar-nav .side-nav .logo h3 {
    text-align: left !important;
    padding-left: 20px !important;
    font-size: 20px !important;
  }
}
@media screen and (max-width: 1099px) {
  .sidebar-nav .side-nav .logo .nav-title {
    float: left;
  }
}
.sidebar-nav .side-nav .logo .nav-title h2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.sidebar-nav .side-nav .logo .nav-title h3 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  font-size: 20px;
}
@media screen and (max-width: 1099px) {
  .sidebar-nav .side-nav .logo .nav-title h3 {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 600px) {
  .sidebar-nav .side-nav .logo .nav-title h3 {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
  .sidebar-nav .side-nav {
    padding: 40px;
  }
}
@media screen and (max-width: 1099px) {
  .sidebar-nav .side-nav .below-nav {
    overflow: auto;
    height: 0px;
    transition: all 0.2s linear;
  }
  .sidebar-nav .side-nav .below-nav.active {
    height: 100% !important;
    transition: all 0.2s linear;
  }
}
.sidebar-nav .side-nav .hamburger-icon {
  position: absolute;
  right: 20px !important;
  top: 24px;
  width: 40px;
  cursor: pointer;
}
.sidebar-nav .side-nav .hamburger-icon .line-1,
.sidebar-nav .side-nav .hamburger-icon .line-2,
.sidebar-nav .side-nav .hamburger-icon .line-3 {
  margin-top: 8px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
}
@media (min-width: 1100px) {
  .sidebar-nav .side-nav .hamburger-icon {
    display: none;
  }
}
.sidebar-nav .side-nav .nav-list {
  padding: 20px;
  list-style: none;
  display: block;
}
.sidebar-nav .side-nav .nav-list-social {
  text-align: center;
  padding-top: 10px;
  display: inline-block !important;
}
.sidebar-nav .side-nav .nav-list-social .nav-list-item.social {
  display: inline-block !important;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 0 5px;
}
.sidebar-nav .side-nav .nav-list-social .nav-list-item.social:hover {
  opacity: 0.7;
}
.sidebar-nav .side-nav .nav-list .nav-list-item {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}
.sidebar-nav .side-nav .nav-list .nav-list-item a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
}
.sidebar-nav .side-nav .nav-list .nav-list-item a:hover {
  color: gold;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background: #2c3358;
}
.main-page-col {
  padding: 10px;
}
@media (max-width: 1099px) {
  .main-page-col {
    width: 100% !important;
  }
}
.main-page-col .main-page-content {
  padding: 10px;
  overflow: auto;
}
.main-page-col .main-page-content .hero {
  position: relative;
  overflow: hidden;
  max-height: 50vh;
}
.main-page-col .main-page-content .hero .hero-img {
  width: 100%;
}
.main-page-col .main-page-content .hero .hero-text {
  position: absolute;
  bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  max-width: 1000px;
}
.main-page-col .main-page-content .hero .hero-text h1 {
  font-size: 36px !important;
  font-weight: 700;
}
.main-page-col .main-page-content .hero .hero-text p {
  font-size: 25px;
  font-weight: 300;
}
.main-page-col .main-page-content .col-100.about-me {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  padding-top: 10px;
}
.main-page-col .main-page-content .col-100.about-me img {
  width: 100%;
}
@media (max-width: 767px) {
  .main-page-col .main-page-content .col-100.about-me {
    display: block !important;
  }
}
.main-page-col .main-page-content .col-100.about-me .about-img,
.main-page-col .main-page-content .col-100.about-me .about-description {
  float: none;
  width: 50%;
}
@media (max-width: 767px) {
  .main-page-col .main-page-content .col-100.about-me .about-img,
  .main-page-col .main-page-content .col-100.about-me .about-description {
    width: 100%;
    display: none;
  }
}
.main-page-col .main-page-content .col-100.about-me .about-description {
  background: #e2e2e2;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 30px;
}
.main-page-col .main-page-content .col-100.about-me .about-description h2 {
  font-size: 30px !important;
  font-weight: 600;
  padding-bottom: 20px;
}
.main-page-col .main-page-content .col-100.about-me .about-description p {
  font-size: 20px;
  line-height: 30px;
}
.main-page-col .main-page-content .col-100.section-heading {
  padding-top: 10px;
}
.main-page-col .main-page-content .col-100.section-heading .my-work-heading {
  background: white;
}
.main-page-col .main-page-content .col-100.section-heading .my-work-heading .heading-title {
  font-size: 30px;
  font-weight: 600;
  padding: 30px;
}
.main-page-col .main-page-content .skills {
  padding: 20px;
  background: #fff;
  margin-top: 10px;
}
.main-page-col .main-page-content .skills h3 {
  font-weight: 600;
  font-family: 'Poppins', 'sans-serif' !important;
  padding-bottom: 15px;
  line-height: 1.4em;
}
.main-page-col .main-page-content .skills .skill-list {
  display: inline;
  overflow: auto;
  margin: 10px 0;
}
.main-page-col .main-page-content .skills .skill-list .skill-button {
  font-family: 'Poppins', 'sans-serif' !important;
  font-size: 18px;
  font-weight: 600;
  margin: 4px;
  display: inline-block;
  background: #eaeaea;
  padding: 5px 10px;
}
.main-page-col .main-page-content .work-experience {
  margin-top: 10px;
  padding: 30px;
  display: table;
}
.main-page-col .main-page-content .work-experience#reingroup {
  background: #008A8C !important;
}
.main-page-col .main-page-content .work-experience#reingroup .job-description {
  color: #fff;
}
.main-page-col .main-page-content .work-experience#aumcore {
  background: #EC1C2C !important;
}
.main-page-col .main-page-content .work-experience#aumcore .job-description {
  color: #fff;
}
.main-page-col .main-page-content .work-experience#livetiles {
  background: #3A3937 !important;
}
.main-page-col .main-page-content .work-experience#livetiles .job-description {
  color: #fff;
}
.main-page-col .main-page-content .work-experience#newps {
  background: #fff !important;
}
.main-page-col .main-page-content .work-experience#newps .job-description {
  color: #000;
}
.main-page-col .main-page-content .work-experience .job-image,
.main-page-col .main-page-content .work-experience .job-description {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
@media (max-width: 767px) {
  .main-page-col .main-page-content .work-experience .job-image,
  .main-page-col .main-page-content .work-experience .job-description {
    display: block !important;
  }
}
.main-page-col .main-page-content .work-experience .job-image {
  text-align: center;
}
.main-page-col .main-page-content .work-experience .job-description {
  padding-left: 10px;
}
@media (max-width: 767px) {
  .main-page-col .main-page-content .work-experience .job-description {
    width: 100%;
  }
}
.main-page-col .main-page-content .work-experience p {
  line-height: 1.3em;
}
.main-page-col .main-page-content .work-experience .work-company-title {
  font-size: 27px !important;
  font-weight: 800;
}
.main-page-col .main-page-content .work-experience .work-position {
  font-size: 23px;
}
.main-page-col .main-page-content .work-experience .work-date {
  font-size: 20px;
  font-weight: 700;
}
.main-page-col .main-page-content .work-experience .work-description {
  line-height: 1.4em;
}
.main-page-col .main-page-content .portfolio .col-50 {
  width: calc(50% - 10px);
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.main-page-col .main-page-content .portfolio .portfolio-item {
  margin-top: 10px;
}
.main-page-col .main-page-content .portfolio .portfolio-item figure {
  position: relative;
  overflow: hidden;
}
.main-page-col .main-page-content .portfolio .portfolio-item figure img {
  width: 100%;
  transition: all 0.3s ease;
}
.main-page-col .main-page-content .portfolio .portfolio-item figure:hover figcaption {
  bottom: 0px !important;
}
.main-page-col .main-page-content .portfolio .portfolio-item figure:hover img {
  transform: scale(1.2);
  opacity: 0.7;
}
.main-page-col .main-page-content .portfolio .portfolio-item figure figcaption {
  position: absolute;
  bottom: -100px;
  padding: 20px;
  width: 100%;
  color: #fff;
  background: #5077fb;
  transition: bottom 0.3s ease;
}
@media (max-width: 767px) {
  .main-page-col .main-page-content .portfolio .portfolio-item figure figcaption {
    bottom: 0px;
  }
}
.main-page-col .main-page-content .portfolio .portfolio-item figure figcaption .example-title {
  font-family: 'Poppins', 'sans-serif' !important;
  line-height: 1.2em;
  font-size: 25px;
}
.main-page-col .main-page-content .portfolio .portfolio-item figure figcaption .example-category {
  line-height: 1.3em;
  color: #ffe000;
}
.main-page-col .main-page-content .contact {
  overflow: auto;
  margin-top: 10px;
  padding: 20px;
  background: #fff;
  text-align: center;
}
.main-page-col .main-page-content .contact h3 {
  font-family: 20px;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}
.main-page-col .main-page-content .contact .secondary {
  font-family: 'Poppins', 'sans-serif' !important;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2em;
}
.main-page-col .main-page-content .contact .social {
  padding-top: 20px;
  display: block;
}
.main-page-col .main-page-content .contact .cta {
  text-align: center;
}
.main-page-col .main-page-content .contact .cta .cta-button {
  max-width: none;
  color: #fff;
}
.wrapper .row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  max-width: 1440px;
  padding: 20px 0;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1099px) {
  .wrapper .row {
    display: block !important;
  }
}
.wrapper .row .col-100,
.wrapper .row .col-75,
.wrapper .row .col-66,
.wrapper .row .col-50,
.wrapper .row .col-33,
.wrapper .row .col-25 {
  display: block;
  float: left;
}
@media (max-width: 767px) {
  .wrapper .row .col-100.port,
  .wrapper .row .col-75.port,
  .wrapper .row .col-66.port,
  .wrapper .row .col-50.port,
  .wrapper .row .col-33.port,
  .wrapper .row .col-25.port {
    width: 100% !important;
  }
}
.wrapper .row .col-100 {
  width: 100%;
}
.wrapper .row .col-75 {
  width: calc(75% - 10px);
}
.wrapper .row .col-66 {
  width: 66%;
}
.wrapper .row .col-50 {
  width: 50%;
}
.wrapper .row .col-33 {
  width: 33%;
}
.wrapper .row .col-25 {
  width: calc(25% - 10px);
}
.cta-button {
  margin-top: 10px;
  padding: 20px;
  font-size: 16px;
  position: relative;
  background: #5077fb !important;
  max-width: 240px;
  text-align: center;
  transition: all 0.1s linear;
  display: block;
}
.cta-button:hover {
  opacity: 0.9;
}
p {
  font-family: 'Poppins', 'Montserrat', 'sans-serif' !important;
}
/*# sourceMappingURL=style-pt.css.map */