body{
    background:#2c3358;
}
.main-page-col{
    @media (max-width:1099px){
        width:100% !important;
    }
    padding:10px;
    
    .main-page-content{
        padding:10px;
        overflow:auto;
        
        .hero{
            position:relative;
            overflow:hidden;
            max-height:50vh;
            .hero-img{
                width:100%;
                @media (max-width:767px){
                    display:none;
                }
            }
            
            @media (max-width:767px){
                height: 76vh;
                max-height: 100vh;
                background: url('../img/hero-background-1.jpg');
                margin-top: 77px;
                background-position: center;
            }
            
            .hero-text{
                position:absolute;
                bottom:25px;
                padding-left:20px;
                padding-right:20px;
                color:#ffffff;
                max-width:1000px;
                h1{
                    font-size:36px !important;
                    font-weight:700;
                }
                p{
                    font-size:25px;
                    font-weight: 300;
                }
            }
        }
        
        .col-100.about-me{
            display:flex;
            justify-content: stretch;
            flex-direction: row;
            padding-top:10px;
            img{
                width:100%;
            }
            @media (max-width: 767px){
                display:block !important;
            }
            .about-img,.about-description{
               float:none;
                width:50%;
                @media (max-width: 767px){
                    width:100%;
                    display:none;
                }
            }
            
            .about-description{
                background:#e2e2e2;
                display:flex;
                justify-items: center;
                align-items: center;
                padding:30px;
                h2{
                    font-size:30px !important;
                    font-weight:600;
                    padding-bottom:20px;
                }
                p{
                    font-size: 20px;
                    line-height:30px;
                }
            }
        }
        
        .col-100.section-heading{
            padding-top:10px;
            .my-work-heading{
                background:white;
                .heading-title{
                    font-size:30px;
                    font-weight:600;
                    padding:30px;
                }
            }
        }
        
        .skills{
            padding:20px;
            background:#fff;
            margin-top:10px;
            h3{
                font-weight:600;
                font-family: 'Poppins', 'sans-serif' !important;
                padding-bottom: 15px;
                line-height:1.4em;
            }
            
            .skill-list{
                display:inline;
                overflow:auto;
                margin:10px 0;
                .skill-button{
                    font-family: 'Poppins', 'sans-serif' !important;
                    font-size:18px;
                    font-weight:600;
                    margin:4px;
                    display:inline-block;
                    background:#eaeaea;
                    padding:5px 10px;
                }
            }
        }
        
        .work-experience{
            margin-top:10px;
//            background:white;
            padding:30px;
            display:table;
            
            &#reingroup{
                background:#008A8C !important;
                .job-description{
                    color:#fff;
                }
            }

            &#aumcore{
                background:#EC1C2C !important;
                .job-description{
                    color:#fff;
                }
            }
            
             &#livetiles{
                background:#3A3937 !important;
                 .job-description{
                    color:#fff;
                }
            }
            
            &#newps{
                background:#fff !important;
                 .job-description{
                    color:#000;
                }
            }
            
            
            .job-image,.job-description{
                display:table-cell;
                @media (max-width:767px){
                    display:block !important;
                }
                vertical-align: middle;
                float:none;
            }
            .job-image{
                text-align:center;
            }
            .job-description{
                padding-left:10px;
                @media (max-width:767px){
                    width:100%;
                }
            }
            
            p{
                line-height:1.3em;
            }
            
            .work-company-title{
                font-size:27px !important;
                font-weight: 800;
            }
            .work-position{
                font-size: 23px;
            }
            .work-date{
                font-size: 20px;
                font-weight: 700;
            }
            .work-description{
                line-height:1.4em;
            }
            
            
        }
        
        
        .portfolio{ 
            .col-50{
                 width:calc(50% - 10px);
                margin-top:10px;
                margin-left:5px;
                margin-right:5px;
            }
                .portfolio-item{
                    margin-top:10px;

                    figure{
                        position:relative;
                        overflow:hidden;
                        img{
                            width:100%;
                            transition: all .3s ease;
                        }
                        &:hover{
                            figcaption{
                                bottom:0px !important;
                            }
                            img{
                                transform: scale(1.2);
                                opacity:.7;
                            }
                        }
                        figcaption{
                            position:absolute;
                            bottom:-100px;
                            @media (max-width:767px){
                                bottom:0px;
                            }
                            padding:20px;
                            width:100%;
                            color:#fff;
                            background: #5077fb;
                            transition: bottom .3s ease;
                            .example-title{
                                font-family:'Poppins','sans-serif' !important;
                                line-height:1.2em;
                                font-size:25px;
                            }
                            .example-category{
                                line-height:1.3em;
                                color:#ffe000;
                            }
                        }
                    }
                }
            
        }
        
        
        .contact{
            overflow:auto;
            margin-top:10px;
            padding:20px;
            background:#fff;
            text-align:center;
            h3{
                font-family:20px;
                font-size:30px;
                font-weight:700;
                padding:10px;
                
            }
            .secondary{
                    font-family:'Poppins', 'sans-serif' !important;
                    font-weight:400;
                font-size:18px;
                line-height:1.2em;
                }
            .social{
                padding-top:20px;
                display:block;
            }
            
            .cta{
                text-align:center;
                .cta-button{
                    max-width:none;
                    color:#fff;
                }
            }
        }
    }

}